:root {
  --bg-a: 100%;
  --bg-b: 92%;
  --bg-c: 84%;
  --bg-d: 70%;
  --mi-a: 50%;
  --fg-a: 6%;
  --fg-b: 12%;
  --fg-c: 24%;
  --fg-d: 36%;
  --hu-r: 0;
  --hu-o: 35;
  --hu-g: 100;
  --hu-b: 220;
  --hu-p: 270;
}

@media (prefers-color-scheme: dark) {
:root {
  --bg-a: 8%;
  --bg-b: 14%;
  --bg-c: 23%;
  --bg-d: 34%;
  --mi-a: 50%;
  --fg-a: 100%;
  --fg-b: 90%;
  --fg-c: 75%;
  --fg-d: 55%;
}
}

