@use 'function/all' as *;

.card {
  background-color: col0(bg-b);
  padding: 20px;

  img {
    height: 100%;
  }

  &__banner {
    margin: -20px 0 0 -20px;
    width: calc(100% + 40px);
    height: 200px;
    img {
      object-fit: cover;
    }
  }

  &__footer {
    padding-top: 10px;
  }

  &--animated-cog {
    position: relative;
    overflow: hidden;
    i {
      position: absolute;
      bottom: -80px;
      right: -80px;
      color: col0(bg-a);
      font-size: 280px;
    }
  }
}

.btn {
  background-color: col0(bg-c);
  color: col0(fg-a);
  display: inline-block;
  padding: 16px 28px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 150ms;

  i {
    margin-right: 8px;
  }

  &:hover {
    color: inherit;
    box-shadow: 0 0 0 2px col0(bg-d);
    transform: scale(1.1);
  }

  &:visited, &:link {
    color: inherit;
    text-decoration: none;
  }

  &--popup {
    i {
      margin: 0;
    }
    padding: 10px 14px;
    min-width: 25px;
    margin: 4px;
    position: relative;
    span {
      background-color: inherit;
      transition-duration: 250ms;
      box-shadow: 0 0 0 2px col0(bg-d);
      padding: 0 14px;
      position: absolute;
      bottom: 100%;
      right: -40px;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      span {
        padding: 8px 14px;
        visibility: visible;
        opacity: 1;
      }
    }
    &:active {
      transform: unset;
    }
  }
}


.chip {
  color: col0(fg-d);
  font-size: 14px;
  background: transparent;
  padding: 4px 6px;
  border: 2px solid col0(bg-c);
}

.explore-card {
  min-width: 300px;
  height: 300px;
  position: relative;
  transition: 150ms;
  overflow: hidden;

  &__img {
    transition: 200ms;
    object-fit: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  &__content {
    transition: 200ms;
    background-color: hsla(0, 0%, var(--bg-b), 86%);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;

    * {
      margin: 0 0 3px 0;
    }

    p {
      color: col0(fg-c)
    }
  }

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition-duration: box-shadow;
    transition-duration: 200ms;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
    div {
      padding-bottom: 40px;
    }
  }
}
