@use "function/all" as *;
@import "variables";

.nav {
  background-color: col0(bg-a);
  border-bottom: 1px solid col0(bg-c);
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  z-index: 3;

  &__item {
    color: col0(fg-d);
    text-decoration: none;
    line-height: $headerHeight;
    transition: 200ms;
    float: right;
    margin-left: 15px;

    &:visited, &:link {
      color: col0(fg-d);
    }

    &:hover {
      color: inherit;
      text-decoration: none;
    }


    &--primary {
      color: col0(fg-a);
      color: inherit;
      float: left;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0;

      &:visited, &:link {
        color: col0(fg-a);
      }
    }

    &--active {
      color: inherit;
      &:visited, &:link {
        color: inherit;
      }
    }
  }
}

.hero {
  text-align: center;
  margin: 80px 0;

  &__title {
    background: linear-gradient(80deg, col2(hu-o, mi-a) 0%, col2(hu-b, mi-a) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    letter-spacing: -2px;
    font-weight: 800;
    margin: 0 0 20px 0;
  }

  &__about {
    color: col0(fg-d);
    font-size: 28px;
    margin: 0;
  }
}

.footer {
  color: col0(fg-c);
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  box-shadow: 0 -1px col0(bg-c);
  p {
    margin: 0 auto;
  }
}


.container {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;

  &--fill {
    max-width: unset;
    margin: 0 auto;
  }
}

.page-heading {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  li {
    flex-grow: 1;
    height: 360px;
    list-style-type: none;
    img {
      box-sizing: border-box;
      object-fit: cover;
      vertical-align: middle;
      height: 100%;
      width: 100%;
    }
  }
  &::after {
    // add empy content to fix last stretched image
    content: "";
    flex-grow: 100;
  }
}

// small screen
@media screen and (max-width: 560px) {
  .gallery li {
    height: auto;
    min-height: unset;
  }
}

