
{% macro meta() %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ config.author }}">
  <meta name="description" content="{% if page %} {{ page.description }} {% elif section %} {{ section.description }} {% endif %}">
  {% if config.extra.google_site_verification %}
    <meta name="google-site-verification" content="{{ config.extra.google_site_verification }}">
  {% endif %}
{% endmacro %}

{% macro stylesheet() %}
  <style>
    {% set colors_css = load_data(path="colors.css") %}
    {{ colors_css }}
  </style>
  <link rel="stylesheet" href="main.css">
{% endmacro %}

{% macro resource() %}
  <link rel="icon" type="image/x-icon" href="favicon.png">
{% endmacro %}

{% macro favicon() %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endmacro %}

{% macro twgl() %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twgl.js/5.0.1/twgl.min.js" integrity="sha512-Sq/DZNtCti7bzZJQOaMLj8A/JrHC2ISJQgZvKWYNkMBM8LssJr0Vn/K7J3GbPBjf/G4pOXqtvEVHeI6tb7PcDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endmacro %}



