{% import 'macros/head.html' as macros_head -%}
{% import 'macros/header.html' as macros_header -%}
{% import 'macros/footer.html' as macros_footer -%}

{% block vars %}
  {% set_global title = config.title %}
  {% if page.title %}
    {% set_global title = title ~ " | " ~ page.title %}
  {% endif %}
{% endblock vars %}

<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <base href="{{ config.base_url }}">
    {{ macros_head::meta() }}
    {{ macros_head::resource() }}
    {{ macros_head::stylesheet() }}
    {{ macros_head::favicon() }}
  </head>
  <body>
    {{ macros_header::header() }}

    {% block content %} {% endblock %}

    {% block footer %} 
      {{ macros_footer::copyright_footer() }}
    {% endblock %}
  </body>
</html>
