{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="page-heading">
    <h1>{{ section.title }}</h1>
    <p>{{ section.description }}</p>
  </div>

  {{ section.content | safe }}

  <div style="width: 100%; display: flex; flex-wrap: wrap; gap: 10px;">
  {% for page in section.pages %}
    <div class="explore-card" style="flex: 1;">
      <a href="{{ page.path | trim_start_matches(pat="/") }}"></a>
      <img class = "explore-card__img" src="{{ page.extra.banner }}">
      <div class = "explore-card__content">
        <h3 class="explore-card__title">{{ page.title }}</h3>
        <p class="explore-card__description">By {{ page.extra.author.name }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock content %}
