{% extends "base.html" %}

{% block content %}

<div class="container">
  <div style="display: flex;">
    <img src="{{ page.extra.icon }}" style="width: 90px; height: 90px; margin: 40px 15px 0 0; border: 1px solid var(--bg-c); image-rendering: pixelated;">
    <div style="display: block;">
      <h1>{{ page.title }}</h1>
      <p>By <a href="{{ page.extra.author.social }}">{{ page.extra.author.name }}</a></p>
    </div>
  </div>

  <br>

  {{ page.content | safe }}
</div>

{% endblock content %}
